body{
	background-color:#38383b;
	font-family: 'Gothic A1', sans-serif;
}

h2{
  color: white;
  font-size: 50px;
  
}
h3{
color: yellow;
font-size: 20px;

}


.one{
	background-color:#2E4351;
	width: 100%;
	height: 50px;
	padding-top:40px;
	text-align: center;
	color: white;
	font-size: 30px;
	padding-top: 20px;
}
.two{
	background-color:#3A5267;
	width: 100%;
	height: 300px;
	text-align: center;
	padding-top: 20px;
	letter-spacing: 2px;
}
.three{
	width:100%;
	height: 1700px;
	/*background-size: 100%,100%;*/
	background-color: #a5a5b8;
}
.four{
	width:100%;
	height: 200px;
	background-color:blue;
}
footer{
	color: white;
	text-align: left;
	padding-left: 80px;
	padding-top: 20px;
}
.all{
	padding-top:10px;
	color: yellow;
}
.five{
	background-color:white;
	height: 600px;
	padding-bottom: 50px;
	margin-right: 160px;
	margin-left: 160px;

}

img{
	height: 70%;
	width: 40%;
	padding-left: 50px;
	float: left;
	clear: right;
	margin-right: 30px;

	

}
h4{
	background-color:orange;
	height: 100px;
	text-align: left;
	font-size: 40px;
	padding-left: 10px;
    padding-top: 20px;
	

}


.flex-container {
  display: flex;
 flex-direction: row;

   /*flex-wrap: wrap;*/
  /*margin-top: 40px;*/
  /*padding: 20px;*/
  /*background-color: DodgerBlue;*/
}

.flex-container > div {
  background-color:white;
  width:500px;
  height:500px;
  margin-left: 160px;
  margin-right: 160px;
  
  /*padding-right:160px;*/
  margin-top: 40px;
  text-align: center;
  padding-top: 0 auto;
  /*line-height: 75px;*/
  font-size: 10px;
  /*float: right;*/

 
}
ul{
	text-align: left;
}
.pp{
	background-color: orange;
	padding-top:10px;
	padding: 10px;
	height: 40px;
	text-align: left;
	margin-top: -1px;
}
table{
	width: 79%;
	margin-top: 40px;
	margin-left: 160px;
    margin-right: 20px;
    /*align-content: center;*/
    
}
table,  td {
  border:  solid grey;
  border-collapse: collapse;
  /*padding-right: 160px;*/
}
th, td {
  padding: 15px;
  text-align: left;
}
th{
	background-color: orange;
	height: 40px;
}
td{
	background-color: white;
}
/*h5,h6{
	background-color:orange;
    text-align:left;
    height: 50px;


}
.six,.seven{
	background-color: white;
	height: 500px;
	width: 500px;
	float: left;
    clear: right;
    margin-left: 160px;
    margin-top: 40px;
}*/